<header>
    <nav class="mynav">


        <img class="nav_img" src="/public/css/images/logo1.png" alt="logo1">

        <ul class="ul_nav">
            <li class="li_nav"><a class="navLink" href="/">Home</a></li>
            <li class="li_nav"><a class="navLink" href="/login">login</a></li>
            <li class="li_nav"><a class="navLink" href="/signup">signup</a></li>
            <li class="li_nav"><a class="navLink" href="/car-accident">car accident</a></li>
            <li class="li_nav"><a class="navLink" href="/questionnaire">questionnaire</a></li>
            <li class="li_nav"><a class="navLink" href="/game">game</a></li>


        </ul>
    </nav>
</header>